/Users/aabdi/workspace/js-docker-dna/js/TIB_js-jrs_7.1.0_bin.zip
/Users/aabdi/workspace/js-docker-dna/tomcat/apache-tomcat-8.5.35.tar.gz
/Users/aabdi/workspace/js-docker-dna/js/TIB_js-jrs_7.1.0_bin.zip
/Users/aabdi/workspace/js-docker-dna/js/jasperserver.license
